{% extends "layout.html" %}

{% block content %}
	<div class="container mt-5">
    <h1 class="mb-4">About Us</h1>

    <p>Welcome to this small project. The goal of this project is to create a place for students to share study resources among themselves easily and without restriction. This project will also help teachers/professors to create a resource library for students.</p>


    <p>This project is made using Flask framework (Python).</p>

    <br>

    <h6>-Ajinkya Shivprasad Gawali</h6>
    <h6>BTech(CSE)</h6>
    <h6>Sanjeevan Engineering and Technology Institute, Panhala</h6>


    <!-- Add more content as needed -->

</div>
{% endblock content %}